th {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
}
td {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
}
.border {
  border: 1px solid black;
}
.m--auto {
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}
